/* Namari Landing Page Dynamic Style Index

1. Website Default Styling
2. Navigation
3. Primary and Secondary Colors
4. Banner
5. Typography
6. Buttons
7. Footer


/*------------------------------------------------------------------------------------------*/
/* 1. Website Default Styling */
/*------------------------------------------------------------------------------------------*/


body {
    background:#F6F5F1;
}

.gallery {
    background-color: #F9F9F9;
}

/* Default Link Color */

a, .la-ball-triangle-path {
    color:#D8CACD;
}

a:hover, #header.nav-solid nav a:hover {
    color:#F9F9F9;
}

/* Default Icon Color */

.icon i {
    color:#77BB40;
}

/* Border Color */

#banner .section-heading:before, .testimonial.classic footer:before {
    background: #D8CACD;
}

.contact-block-content:hover {
    border-color:#77BB40;
}


/*------------------------------------------------------------------------------------------*/
/* 2. Navigation */
/*------------------------------------------------------------------------------------------*/


/* Transparent Navigation Color on a Banner */

#header nav a, #header i {
    color:#D8CACD;
}


/* Navigation Colors when the Navigation is sticky and solid */ 

#header.nav-solid, #header.nav-solid a, #header.nav-solid i, #nav-mobile ul li a {
    color:#F6F5F1;
}


/* Navigation Active State */

#header.nav-solid .active {
    color: #F6F5F1;
    border-color: #D8CACD;
}    

/* #Contact */

#contact .section-title {
    color: #F9F9F9;
}

#contact .email-link {
    font-family: 'Lato';
    color: #F6F5F1;
    font-weight:600;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
  #contact .email-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #D8CACD; /* Solid color underline */
    transition: width 0.5s ease;
  }
  
  #contact .email-link:hover::before {
    width: 100%;
  }

/*------------------------------------------------------------------------------------------*/
/* 3. Primary and Secondary Colors */
/*------------------------------------------------------------------------------------------*/


/* Primary Background and Text Colors */

.primary-color, .featured .contact {
    background-color:#D8CACD;
}

.primary-color, .primary-color .section-title, .primary-color .section-subtitle, .featured .contact, .featured .contact p {
    color:#313035;    
}

.section-heading h2:after {
    background:#D8CACD;
    content:"";
    display:block;
    width:30px;
    height:5px;
    margin-top:30px;
}

.text-center .section-heading h2:after {
    margin:30px auto 25px auto;
}

/* Primary Icon Colors */

.primary-color .icon i, .primary-color i {
    color:#313035;
}


/* Secondary Background and Text Colors */

.secondary-color {
    background-color:#313035;
}


/*------------------------------------------------------------------------------------------*/
/* 4. Banner */
/*------------------------------------------------------------------------------------------*/


/* Banner Background and Text Colors */

#banner {
    background: url("../images/banner-images/banner.png") no-repeat center top;
    background-size:cover;
}


/*------------------------------------------------------------------------------------------*/
/* 5. Typography */
/*------------------------------------------------------------------------------------------*/


body {
    font-family: 'Lato', sans-serif, Arial, Helvetica;
    font-size:15px;
    font-weight:normal;
    color:#313035;
}

/* Logo, if you are using Fonts as Logo and not image

#logo h1 {
    font-family:;
    font-size:; 
    font-weight:;
    color:;
}

#logo h2 {
    font-family:;
    font-size:; 
    font-weight:;
    color:;
}

*/


/* Banner Typography */

#banner h1 {
    font-family: 'Merriweather', sans-serif, Arial, Helvetica;
    font-size:62px;
    font-style: italic;
    line-height:60px;
    font-weight:800;
    color:#313035;
    filter:hue-rotate(-0.4turn) invert(1);
    mix-blend-mode: difference;
}

#banner h2 {
    font-family: 'Lato', sans-serif, Arial, Helvetica;
    font-size:25px;
    font-weight:300;
    color:#313035;
    filter:hue-rotate(-0.4turn) invert(1);
    mix-blend-mode: difference;    
}


/* Section Title and Subtitle */

.section-title {
    font-family: 'Merriweather', sans-serif, Arial, Helvetica;
    font-size: 34px;
    font-style: italic; 
    font-weight:700;
    color:#313035;
}

.section-subtitle {
    font-family: 'Lato', sans-serif, Arial, Helvetica;
    font-size: 16px;
    font-weight:300;
    color:#9c9c9c;
}

/* Testimonial */

.testimonial q {
    font-family: 'Lato', sans-serif, Arial, Helvetica;
    font-size: 17px; 
    font-weight:300;
}

.testimonial.classic q, .testimonial.classic footer {
    color:#313035;
}


/* Standard Headings h1-h6 */

h1 {
    font-family: 'Lato', sans-serif, Arial, Helvetica;
    font-size: 40px; 
    font-weight:300;
    color:#313035;
}

h2 {
    font-family: 'Merriweather', sans-serif, Arial, Helvetica;
    font-size: 34px; 
    font-weight:300;
    color:#313035;
}

h3 {
    font-family: 'Lato', sans-serif, Arial, Helvetica;
    font-size: 30px; 
    font-weight:700;
    color:#313035;
}

h4 {
    font-family: 'Lato', sans-serif, Arial, Helvetica;
    font-size: 18px; 
    font-weight:400;
    color:#313035;
}

h5 {
    font-family: 'Lato', sans-serif, Arial, Helvetica;
    font-size: 16px; 
    font-weight:400;
    color:#313035;
}

h6 {
    font-family: 'Lato', sans-serif, Arial, Helvetica;
    font-size: 14px; 
    font-weight:400;
    color:#313035;
}

/*------------------------------------------------------------------------------------------*/
/* 7. Footer */
/*------------------------------------------------------------------------------------------*/

#landing-footer, #landing-footer p, #landing-footer a {
    font-family: 'Lato', sans-serif, Arial, Helvetica;
    font-size:12px;
    font-weight:normal;
    color:#696969;
}

/* Footer Icon Color */

#landing-footer i {
    color:#696969;
}
